<div class="w-75 m-auto py-5 ">
    <h2>Register now</h2>



    <form class="container" [formGroup]='registerForm' (ngSubmit)="submitForm(registerForm)">
        <div class="mb-3 ">
            <label for="exampleInputName" class="form-label">Name</label>
            <input  formControlName="name" type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
            <div *ngIf="registerForm.get('name')?.errors != null && registerForm.get('name')?.touched" class="alert mt-2 alert-danger">
                <p>you must enter your name</p>
            </div>
        </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email"  formControlName="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div *ngIf="registerForm.get('email')?.errors != null && registerForm.get('email')?.touched" class="alert mt-2 alert-danger">
            <p>you must enter your email</p>
        </div>
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="password" name="password" class="form-control" id="exampleInputPassword1">
          <div *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched" class="alert mt-2 alert-danger">
            <p>you must enter your password</p>
        </div>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>